# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
ca-certificates=2019.1.23=0
certifi=2019.3.9=py37_0
chardet=3.0.4=pypi_0
idna=2.8=pypi_0
libcxx=4.0.1=hcfea43d_1
libcxxabi=4.0.1=hcfea43d_1
libedit=3.1.20181209=hb402a30_0
libffi=3.2.1=h475c297_4
ncurses=6.1=h0a44026_1
openssl=1.1.1b=h1de35cc_1
pip=19.0.3=py37_0
python=3.7.2=haf84260_0
readline=7.0=h1de35cc_5
requests=2.21.0=pypi_0
requests-futures=0.9.9=pypi_0
setuptools=40.8.0=py37_0
sqlite=3.27.2=ha441bb4_0
tk=8.6.8=ha441bb4_0
urllib3=1.24.1=pypi_0
wheel=0.33.1=py37_0
xz=5.2.4=h1de35cc_4
zlib=1.2.11=h1de35cc_3
python-dotenv==0.10.1
pytest-vcr==1.0.1
pytest-mock==1.10.1
